Package: scalix-autodiscover
Version: 0.0.7
Section: scalix
Homepage: http://www.scalix.com
Depends: python, python-pip, libxml2-dev, python-dev, gcc, libxslt1-dev, python-lxml
Priority: optional
Essential: no
Architecture: all
Maintainer: Scalix Support <support@scalix.com>
Description: The Autodiscover service minimizes user configuration
    and deployment steps by providing clients access to email
    and groupware server features.
